

@media (max-width: 739px) {
    /* Menu */
        .menu {
            text-align: center;
        }
        a.menu-logo {
            float: none;
            margin: 0 auto;
        }
        .menu-nav {
            float: none;
            clear: both;
        }

        /* Intro */
        .intro {
            padding: 60px 0;
        }

        /* Sobre */
        .sobre-container {
            max-width: 300px;
        }
        .sobre-item {
            width: 300px;
            margin: 0 auto;
        }


    



